<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

   

    <%- include("../partials/cabecalho.ejs") %>
    
</head>
<body>
    <div>
        <b>Nome: </b> <%=usuario.nome%>
    </div>

    <div>
        <b>Email: </b> <%=usuario.email%>
    </div>

    <div>
        <b>Senha: </b> <%=usuario.senha%>
    </div>

    <div>
        <a href="/usuarios">Voltar para a Listagem</a>
    </div>

    <%- include("../partials/rodape.ejs") %>
    
</body>
</html>
